<html>
  <head>
    <link rel="stylesheet" href="{{url_for('static',filename='./main.css')}}">
  </head>
  <body>
      <header>
        <center><h1>Prime API Tests</h1></center>
      </header>
      <div class="control">
          {% block content %}
          <div class="panel" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
            <center><h2>Enviroments</h2></center>
        </div>
        <div id="allbot">
            <div>
                {% for env in enviroments%}
                    <div class="newbot">
                           <center>
                            <div>
                                <h2><a href="{{url_for('enviroment.Env_detail',envid=env.id)}}">{{env.name}}</a></h2>
                            </div>
                            <div>
                                <p>
                                    {{env.description}}
                                </p>
                            </div>
                           </center>
                    </div>
                {% endfor %}
            </div>
            <div style="height:40px;width:40%;margin-right:30%;margin-left:30%;display:inline-block;">
                {% if prev_url or next_url %}
                      {% if prev_url %}
                         <div>
                             <button class="btnd" style="color:white;"><a href={{prev_url}}>Prev</a></button>
                         </div>
                      {% endif %}
                      {% if next_url %}
                         <div>
                             <button class="btnd" style="color:white;"><a href={{next_url}}>Next</a></button>
                         </div>
                      {% endif %}
                {% endif %}
            </div>
        </div>
          {% endblock %}
      </div>
  </body>
</html>