{% block content %}
   <div >
        <div id="sidepanel1">
            <div>
                <center>
                    <button style="background-color:white;color:black;margin-top:15px;margin-bottom:15px;" class="btnd"><a href="{{url_for('testcase.add_box_config')}}">Test Add</a></button>
                    <button style="background-color:white;color:black;margin-top:15px;margin-bottom:15px;" class="btnd"><a href="{{url_for('testcase.add_prime_config')}}">Test Read</a></button>
                    <button style="background-color:white;color:black;margin-top:15px;margin-bottom:15px;" class="btnd"><a href="{{url_for('testcase.my_bots',userid=user.id)}}">Add Enviroment</a></button>
                    <button style="background-color:white;color:black;margin-top:15px;margin-bottom:15px;" class="btnd"><a href="{{url_for('testcase.get_tasklist')}}">Task List</a></button>
                    <button style="background-color:white;color:black;margin-top:15px;margin-bottom:15px;" class="btnd"><a href="{{url_for('testcase.landing_page')}}">Bot Home</a></button>
                </center>
            </div>
        </div>
   </div>
{% endblock %}